.song {
    /* border: 0.1em grey solid; */
    width: 18em;
    min-width: 250px;
    height: 22em;
    padding: 0.5em;
    margin: 0.3em auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    align-content: center;
    background-color: whitesmoke;
    text-align: center;
}

.audio {
    display: block;
    width: 100%;
    
}